{% extends "base.html" %} {% block title %} Home {% endblock %}{%block content%}
<h1> Control  </h1> 
<br>
<form  action="/" method="post">
<input type="submit" name="submit" value="setup">
<br>
<table style="width:100%">
  <caption>Driving</caption>
  <tr>
    <th>Left</th>
    <th>Right</th>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftForwards">Forwards</input></td>
    <td><input type="submit" name="submit" value="rightForwards">Forwards</input></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftStop">Stop</input></td>
    <td><input type="submit" name="submit" value="rightStop">Stop</input></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftBackwards">Backwards</input></td>
    <td><input type="submit" name="submit" value="rightBackwards">Backwards</input></td>
  </tr>
</table >
<table style="width:100%">
  <caption>Relay</caption>
  <tr>
    <td><input type="submit" name="submit" value="onRelay">On</input></td>
    <td><input type="submit" name="submit" value="offRelay">Off</input></td>
  </tr>
</table >
<input type="submit" name="submit" value="updateSensory">Update Sensors</input>
<table style="width:100%">
  <caption>Sensors</caption>
  <tr>
    <th>Light</th>
    <th>Range</th>
    <th>Ultrasonic</th>
  </tr>
  <tr>
    <td>{{ values['light'] }}</td>
    <td>{{ values['range'] }}</td>
    <td>{{ values['ultrasonic'] }}</td>
  </tr>
</table>
{% endblock %}