{% extends "base.html" %} {% block title %} Home {% endblock %}{%block content%}
<h1> Control  </h1> 
<br>
<form  action="/" method="post">
<input type="submit" name="submit" value="setup">
<table style="width:100%">
  <caption>Driving</caption>
  <tr>
    <th>Left</th>
    <th>Right</th>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftForwards"></td>
    <td><input type="submit" name="submit" value="rightForwards"></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftStop"></td>
    <td><input type="submit" name="submit" value="rightStop"></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftBackwards"></td>
    <td><input type="submit" name="submit" value="rightBackwards"></td>
  </tr>
</table >
<input type="submit" name="submit" value="updateSensory">
<table style="width:100%">
  <caption>Sensors</caption>
  <tr>
    <th>Light</th>
    <th>Range</th>
    <th>Ultrasonic</th>
  </tr>
  <tr>
    <td>{{ values['light'] }}</td>
    <td>{{ values['range'] }}</td>
    <td>{{ values['ultrasonic'] }}</td>
  </tr>
</table>
{% endblock %}