 {% extends "base.html" %} {% block title %} Sensory {% endblock %}
{%block content%}
<h1> Sensory  </h1> 
<br>
<form  action="/" method="post">
<table style="width:100%">
  <caption>Basic Sensors</caption>
  <tr>
    <th>Left</th>
    <th>Right</th>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftForwards"></td>
    <td><input type="submit" name="submit" value="rightForwards"></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftStop"></td>
    <td><input type="submit" name="submit" value="rightStop"></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="leftBackwards"></td>
    <td><input type="submit" name="submit" value="rightBackwards"></td>
  </tr>
</table >
<table style="width:100%">
  <caption>Accelerometer</caption>
  <tr>
    <th>Light</th>
    <th>Range</th>
    <th>Ultrasonic</th>
  </tr>
  <tr>
    <td>{{ values['light']['value'] }}</td>
    <td>{{ values['range']['value'] }}</td>
    <td>{{ values['ultrasonic']['value'] }}</td>
  </tr>
</table>
{% endblock %}